*.class
*.log
.bloop
.bsp
project/metals.sbt
.metals
.vscode
.tasty
project/project/
project/target/
target/
null/
.history
.scala_dependencies
.cache
.worksheet
.copy.json
.copy.xml
.round.json
.round.xml
